---
layout: books
title: The Collective | Transgress Press
---

		<div class="main archives" role="main">
			<div class="page-title">
				<h2>about</h2>
				<small>the collective</small>
			</div><!-- page title -->

			<div class="container">

				<div class="last-books">
					<h2 class="title-list">The Crew</h2>

					<ul class="archive-list">
                                                {% for member in site.data.staff %}
                                                {% if member.is_editor %}
                                                <li>
                                                        <span class="orange">{{ member.name }} - {{ member.position }}</span>
                                                            <br /><br />
                                                            <img src="/img/staff/{{ member.image_file }}">
                                                            <br /><br />
                                                            {{ member.description }}
                                                </li>
                                                {% endif %}
                                                {% endfor %}
					</ul>
				</div><!-- last books -->

				<div class="by-author">
					<h2 class="title-list">Advisory Board</h2>

					<ul class="archive-list">
                                                {% for member in site.data.staff %}
                                                {% if member.is_advisor %}
                                                <li>
                                                        <span class="orange">{{ member.name }}</span>
                                                            <br /><br />
                                                            <img src="/img/staff/{{ member.image_file }}">
                                                            <br /><br />
                                                            {{ member.description }}
                                                </li>
                                                {% endif %}
                                                {% endfor %}
					</ul>
				</div><!-- by author -->

				<div class="clear">&nbsp;</div><!-- clear -->
			</div>
		</div><!-- main -->
