---
layout: books
title: Call for Submissions | Transgress Press
---
			<div class="page-title">
				<h2>call for submissions</h2>
			</div><!-- page title -->

			<div class="container">
                            <div class="cfp">
				<ul class="category-listing">
                                    {% for cfp in site.data.cfps %}
                                    {% if cfp.is_open %}
                                    <a name="{{ cfp.id }}">
                                    <li>
							<div class="dnescription-book">
								<div class="title">
									<h1><a href="#"> {{ cfp.title }}</a></h1>
									<div class="author"><a href="">{{ cfp.author_or_editor }}</a></div>
									<!-- <span class="bull">&bull;</span> --><!-- bull separator -->

								</div><!-- title -->
                                                                <p class="description">
                                                                        {{ cfp.teaser }}
                                                                </p>
							</div><!-- description book -->

							<div class="clear">&nbsp;</div><!-- clear -->
						</article>
                                     </li>
                                     {% endif %}
                                     {% endfor  %}
				</ul>
                            </div><!-- cfp -->
			</div><!-- container -->
		</div><!-- main -->
