---
layout: books
title: Books | Transgress Press
---
			<div class="page-title">
				<h2>books</h2>
				<small>current titles</small>
			</div><!-- page title -->

			<div class="container">
				<ul class="category-listing">

                                    {% for book in site.data.books %}
                                        {% if book.is_published %}
                                                       <li>
						            <article>
                                                                {% if book.has_image %}
							        <div class="book-image">
								    <a href="/books/{{ book.url_stub }}">
									<img src="/img/books/{{ book.image_file }}" alt="" width=205 height=305 />
									{% if book.is_new %} <div class="banner"><img src="/img/banner-new.png" alt="" /></div><!-- banner --> {% endif %}
								    </a>
							        </div><!-- book image -->
                                                                {% endif %}

							<div class="description-book">
								<div class="title">
									<h1><a href="/books/{{ book.url_stub }}"> {{ book.title }}{% if book.show_subtitle %}: {{ book.subtitle }} {% endif %}</a></h1>
									<div class="author"><a href="">{{ book.author_or_editor }} <span class="genre">({% if book.is_hardcover %} hardcover {% else %} softcover {% endif %})</span></a></div>
									<span class="bull">&bull;</span><!-- bull separator -->
									<a href="/books/{{ book.url_stub }}" class="link">{{ site.url }}/books/{{ book.url_stub }}</a>

								</div><!-- title -->

								<p class="description">
									<strong>description:</strong>
                                                                        {{ book.description }}
								</p><!-- description text -->
							</div><!-- description book -->

							<div class="clear">&nbsp;</div><!-- clear -->
						</article>
					</li>
                                    {% endif %}
                                  {% endfor  %}
				</ul>
			</div><!-- container -->
		</div><!-- main -->
