---
layout: books
title: Books | Transgress Press
---
			<div class="page-title">
				<h2>books</h2>
				<small>coming titles</small>
			</div><!-- page title -->

			<div class="container">
				<ul class="category-listing">

                                    {% for book in site.data.books %}
                                        {% if book.is_published == false %}
                                                       <a name="{{ book.id  }}"></a>
                                                       <li>
						            <article>
                                                                {% if book.has_image %}
							        <div class="book-image">
									<img src="/img/books/{{ book.image_file }}" alt="" width=205 height=305 />
									{% if book.is_new %} <div class="banner"><img src="/img/banner-new.png" alt="" /></div><!-- banner --> {% endif %}
							        </div><!-- book image -->
                                                                {% endif %}

							<div class="dnescription-book">
								<div class="title">
									<h1><a href="">{{ book.title }}{% if book.show_subtitle %}: {{ book.subtitle }}{% endif %}</a></h1>
									<div class="author"><a href="#">{{ book.author_or_editor }}</a></div>

								</div><!-- title -->

								<p class="description">
									<strong>description:</strong>
                                                                        {{ book.description }}
								</p><!-- description text -->
							</div><!-- description book -->

							<div class="clear">&nbsp;</div><!-- clear -->
						</article>
					</li>
                                    {% endif %}
                                  {% endfor  %}
				</ul>
			</div><!-- container -->
		</div><!-- main -->
