		<footer>
			<div class="container">
				<article class="block categories">
					<h2>menu</h2>

					<ul class="footer-categories-menu">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/books">Books</a></li>
                                                <li><a href="/about">About</a></li>
                                                <li><a href="/archive">Our Archives</a></li>
                                                <li><a href="/news">News</a></li>
                                                <li class="last"><a href="/contact">Contact</a></li>
                                        </ul><!-- bottom-footer-menu -->
					</ul>
				</article><!-- block categories -->

				<article class="block social">
					<h2>Social and networking</h2>

					<p>
						Connect, grow and share toghether with our community, gravida nibh vel velit auctor aliquet quis bibendum auctor, nisi elit consequat.
					</p>

					<form action="#" method="post">
						<p class="line">
							<input class="text" type="text" name="" autocomplete="off" placeholder="Your Email ..." />
							<input class="button" type="submit" value="submit" />
						</p>
						<p>you can <a href="">unscribe</a> any time you want</p>
					</form>

					<h2>social pages</h2>
					<ul class="social-buttons">
						<li class="twitter"><a href="{{ site.twitter_url }}" target="_blank"></a></li>
                                                <li class="facebook"><a href="{{ site.facebook_url }}" target="_blank"></a></li>
					</ul>
				</article><!-- block social and networking -->

				<article class="block contact">
					<h2>contact information</h2>

					<div class="map">
						<img src="/img/footer/footer-map.jpg" alt="" />
					</div><!-- map -->

					<div class="address">
						<h4>Address</h4>
						<p>
							34 Salisbury Ave, Garden City Manhantan 264859RE
						</p>

						<h4>Details</h4>
						<p>
							contact@pagesplus.org 1 - 800.555.BOOK
						</p>

						<h4>Working Hours</h4>
						<p>Monday - Sunday <br />
							09:00 - 20:30 <br />
							Saturday - Closed
						</p>
					</div><!-- address -->
				</article><!-- block categories -->

				<div class="clear">&nbsp;</div><!-- clear -->
			</div><!-- container -->

			<div class="footer-bottom">
				<div class="container">
					<div class="copyright">
						<p>
							Copyright © 2012 <span class="orange">PAGES</span> <span class="blue">+</span> / PAGES <span class="blue">PLUS</span> LIBRARY. All the books covers © their respective owners.
						</p>
						<p>
							PSD Design Layout by <a href="">MBE</a> • <a href="">Made By Experts</a>
						</p>
					</div><!-- copyright -->

					<ul class="bottom-footer-menu">
						<li class="first"><a href="#" title="back to top">top &#8593;</a></li>
					</ul><!-- bottom-footer-menu -->
				</div><!-- container -->
			</div><!-- footer bottom -->
		</footer>
