		<footer>
			<div class="container">
				<article class="block categories">
					<h2>menu</h2>

					<ul class="footer-categories-menu">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/about">About</a></li>
                                                <li><a href="/books">Books</a></li>
                                                <li><a href="/events">Events</a></li>
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                        </ul><!-- bottom-footer-menu -->
					</ul>
				</article><!-- block categories -->

				<article class="block social">

                                        <h2>socialize</h2>

                                        <br />

                                        <p>{% include widgets/button_newsletter.html %}</p>

                                        <br /><br />

					<ul class="social-buttons">
						<li class="twitter"><a href="{{ site.twitter_url }}" target="_blank"></a></li>
                                                <li class="facebook"><a href="{{ site.facebook_url }}" target="_blank"></a></li>
					</ul>
				</article><!-- block social and networking -->

				<article class="block contact">
					<h2>Contact Us</h2>

                                        <div class="map">
                                                <img src="/img/footer/footer-logo.jpg" alt="logo" width="250" height="163" />
                                        </div><!-- map -->

					<div class="address">
						<p>
                                                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
						</p>
                                                <h4>Purchasing</h4>
                                                <p>
                                                    <a href="mailto:{{ site.email_purchasing }}">{{ site.email_purchasing }}</a>
                                                </p>
                                                <h4>Photo Submissions</h4>
                                                <p>
                                                    <a href="mailto:{{ site.email_photos }}">{{ site.email_photos }}</a>
                                                </p>
                                                <h4>Managing Editor: {{ site.name_managing_editor }}</h4>
                                                <p>
                                                    <a href="mailto:{{ site.email_managing_editor }}">{{ site.email_managing_editor }}</a>
                                                </p>
                                                <h4>Assistant Editor: {{ site.name_assistant_editor }}</h4>
                                                <p>
                                                    <a href="mailto:{{ site.email_assistant_editor }}">{{ site.email_assistant_editor }}</a>
                                                </p>
                                                <h4>Acquisitions Editor: {{ site.name_acquisitions_editor }}</h4>
                                                <p>
                                                    <a href="mailto:{{ site.email_acquisitions_editor }}">{{ site.email_acquisitions_editor }}</a>
                                                </p>
					</div><!-- address -->
				</article><!-- block categories -->

				<div class="clear">&nbsp;</div><!-- clear -->
			</div><!-- container -->

			<div class="footer-bottom">
				<div class="container">
					<div class="copyright">
						<p>
                                                    &copy; {{ site.time | date: '%Y' }} {{ site.name }}
						</p>
						<p>
                                                    {{ site.message_credit }}
						</p>
					</div><!-- copyright -->

					<ul class="bottom-footer-menu">
						<li class="first"><a href="#" title="back to top">top &#8593;</a></li>
					</ul><!-- bottom-footer-menu -->
				</div><!-- container -->
			</div><!-- footer bottom -->
		</footer>
