		<header>
			<div class="top-glow">&nbsp;</div><!-- top glow -->

			<div class="books">&nbsp;</div><!-- books -->

			<h1 class="logo">
				<a href="/">
					<img src="../img/header/logo.png" alt="" />
				</a>
			</h1><!-- logo -->

			<nav>
				<form action="#" method="post" class="search">
					<a href="">search</a>

					<div class="drop-search">
						<input class="text" type="text" name="" autocomplete="off" placeholder="keywords ..." />

						<p class="line"><label ><small>advanced</small> <span>search &raquo;</span></label></p>

						<p class="line"><input class="button" type="submit" value="search"/></p>
					</div><!-- drop search -->
				</form>

				<ul class="menu">
					<li><a class="current" href="/">home</a></li>
					<li>
						<a href="/books">books</a>
						<ul class="drop-menu">
							<li><a href="/category">hardcovers</a></li>
							<li><a href="/category">paperback</a></li>
							<li><a href="/category">audible edition</a></li>
							<li><a href="/category">kindle edition</a></li>
							<li><a href="/category">boardbook</a></li>
							<li><a href="/category">html</a></li>
						</ul>
					</li>
					<li><a href="/about">about</a></li>
					<li><a href="/archive">our archives</a></li>
					<li><a href="/news">news</a></li>
					<li><a href="/contact">contact</a></li>
					<li class="clear">&nbsp;</li><!-- clear -->
				</ul>

				<div class="select-language">
					<span>language</span>

					<ul class="drop-select-language">
						<li><a href="">English</a></li>
						<li><a href="">French</a></li>
						<li><a href="">Spanish</a></li>
						<li><a href="">German</a></li>
					</ul><!-- select language drop -->
				</div><!-- select language -->

				<div class="clear">&nbsp;</div><!-- clear -->
			</nav><!-- menu -->
		</header>
