			<nav>
				<form action="#" method="post" class="search">
					<a href="">search</a>

					<div class="drop-search">
						<input class="text" type="text" name="" autocomplete="off" placeholder="keywords ..." />

						<p class="line"><label ><small>advanced</small> <span>search &raquo;</span></label></p>

						<p class="line"><input class="button" type="submit" value="search"/></p>
					</div><!-- drop search -->
				</form>

				<ul class="menu">
					<li><a href="/">home</a></li>
                                        <li>
                                                <a href="/about">about</a>
                                                <ul class="drop-menu">
                                                        <li><a href="/about/staff">staff & editors</a></li>
                                                </ul>
                                        </li>
					<li>
						<a href="/books">books</a>
						<ul class="drop-menu">
                                                        <li><a href="/books/box-sets">box sets</a></li>
                                                        <li><a href="/call-for-submissions">call for submissions</a></li>
                                                        <li><a href="/books/coming-titles">coming titles</a></li>
						</ul>
					</li>
					<li><a href="/events">events</a></li>
                                        <li><a href="/blog">blog</a></li>
					<li><a href="/contact">contact</a></li>
                                        <li class="clear">&nbsp;</li><!-- clear -->
				</ul>

				<div class="clear">&nbsp;</div><!-- clear -->
			</nav><!-- menu -->
