			<nav>
				<form action="#" method="post" class="search">
                                	<a href="#"></a>
				</form>
				<ul class="menu">
					<li><a href="/">home</a></li>
                                        <li>
                                                <a href="#">about</a>
                                                <ul class="drop-menu">
                                                        <li><a href="/about">our vision</a></li>
                                                        <li><a href="/about/collective">the collective</a></li>
                                                        <li><a href="/about/submissions">submissions</a></li>
                                                </ul>
                                        </li>
					<li>
						<a href="#">books</a>
						<ul class="drop-menu">
                                                        <li><a href="/books">current titles</a></li>
                                                        <li><a href="/books/coming-titles">upcoming titles</a></li>
                                                        <li><a href="/call-for-submissions">call for submissions</a></li>
						</ul>
					</li>
					<li>
						<a href="/news">news</a>
						<!-- <ul class="drop-menu">
							<li><a href="/press">Press</a></li>
						</ul> -->
					</li>
                                        <li>
						<a href="/shop">shop</a>
						<!-- <ul class="drop-menu">
							<li><a href="/shop/box-sets">box sets</a></li>
						</ul> -->
					</li>
					<li><a href="/contact">contact</a></li>
                                        <li class="clear">&nbsp;</li><!-- clear -->
				</ul>

				<div class="clear">&nbsp;</div><!-- clear -->
			</nav><!-- menu -->
