
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	{% include head.html %}

<!-- ========= HEADER ============= -->

	{% include header.html %}

<!-- ========= END HEADER =========== -->

<!-- ==== START MAIN ========= -->

	<body>

		{{ content }}

<!-- ==== END MAIN ========= -->

<!-- ======== START FOOTER ================ -->

		{% include footer.html %}

<!-- ======== END FOOTER ================ -->

                <script src="/js/vendor/jquery-1.9.0.min.js"></script>
                <script src="/js/vendor/jquery.flexslider-min.js"></script>
                <script src="/js/main.js"></script>
        </body>
<html>
