---
layout: books
title: Late Transition| Transgress Press
cfp-id: late-transition
---

{% for cfp in site.data.cfps %}

  {% if cfp.id == page.cfp-id %}

    <div class="main single-view-page" role="main">
			<div class="page-title">
				<h2>call for submissions</h2>
				<small>{{ cfp.title }}</small>
			</div><!-- page title -->

			<div class="container">
					<section class="single-view">
						<div class="cfp">
							<div class="title-book">
								<h1 class="subtitle">CALL FOR SUBMISSIONS: <em>{{ cfp.title }}</em></h1><!-- title -->

								<div class="author">
									{{ cfp.author_or_editor }}{% if cfp.due_date == nil %}{% else %}<small> <span class="bull">&bull;</span> Due {{ cfp.due_date }}</small>{% endif %}{% if cfp.contact == nil %}{% else %}<small> <span class="bull">&bull;</span> <a href="{{ cfp.contact_url }}">{{ cfp.contact }}</a></small>{% endif %}
								</div><!-- author -->
							</div><!-- title book -->

                                                       <br />

							<div class="description">

                                                                        <br />

									{% if cfp.description == nil %} {{ cfp.teaser }} {% else %} {{ cfp.description }} {% endif %}
							
                                                                </div><!-- description -->
						</div>

						<div class="clear">&nbsp;</div><!-- clear -->
					</section><!-- single view -->
			</div><!-- container -->
		</div><!-- main -->  

  {% endif %}

{% endfor %}

